{% block title %}<strong>Línea de factura</strong>{% endblock %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% block content %}
{% for h in fact_rest %}
<table class='table' border='5' bordercolor='#ff0000'>
    <thead class="thead-dark">
        <tr align='center'>
		    <th>Número de factura</th>
            <th>Fecha de emisión</th>
            <th>Nombre del cliente</th>
			<th>Dirección del cliente</th>
			<th>Producto</th>
			<th>Precio por unidad</th>
			<th>Unidades</th>
			<th>Precio total</th>
        </tr>
        <tr align='center'>
			<td>{{ h.num }}</td>
            <td>{{ h.emission_date }}</td>
            <td>{{ h.customer_name }}</td>
            <td>{{ h.customer_address }}</td>
			<td bgcolor='gray'></td>
			<td bgcolor='gray'></td>
			<td bgcolor='gray'></td>
			<td bgcolor='gray'></td>
        </tr>
    </thead>
    <tbody>
        {% for i in h.linea.all %}
        <tr align='center'>
			<td bgcolor='gray'></td>
			<td bgcolor='gray'></td>
			<td bgcolor='gray'></td>
			<td bgcolor='gray'></td>
			<td>{{ i.product_name }}</td>
            <td>{{ i.unit_prize }}</td>
            <td>{{ i.unit_total }}</td>
			<td>{{ i.prize }}</td>
        </tr>
        {% endfor %}
    </tbody>
	{% endfor %}
</table>

{% endblock content %}
